<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
   <body style="background-color:DarkGrey;">
        <header>
            <h1 style="background-color:Black;"><p style="color:GoldenRod;">Link shortener</p></h1>
        </header>
        <form action = "/" method = "POST">
            <input type="text" name="Link">
            <input type = "submit" value="Create">
        </form>


      <h1></h1>
   </body>

    </body>
        <form action="/" method="POST"></form>

    </body>
</html>